body{
    background-color: azure;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container{
    width:80% ;
    margin:auto ;
    overflow: hidden;
}

#main-header{
    background-color: rgba(46, 129, 7, 0.924);
    color: azure;
    height:60px ;
    text-align: center;
    padding: 8px;
   
}
#navbar{
    background-color: black;
    color:white;
}

#navbar ul{
    padding: 0%;
    list-style: none;

}

#navbar li{
    display: inline;

}
#navbar a{
    color:white;
    text-decoration: none;
    font: 18px;
    padding-right: 18px;
}

#showcase{
    background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg");
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
    

}

#showcase h1{
    
    color: black;
    font-size:34px;
    line-height:1.6em;
    padding-top:30px;
}

#main-h1{
    background-color: white;
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float:right;
    width: 30%;
    background-color:rgb(11, 61, 11);
    color:white;
    padding:  10px;
    box-sizing: border-box;
}

#main-footer{
    background-color:black;
    color: white;
    text-align: center;
    padding:20px ;
    margin: 10px;
    box-sizing: border-box;


}
@media(main-width=600px){
    #main-h1{
        width:100px;
        float: none;
    }
    #showcase{
        width:100px;
        float: none;
    }


}